<!--this makes it post a sign-in thing 
-->

<form id="sign-in" method="POST" action="/sessions">
  <input type="text" name="email" placeholder="Your Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign In</button>
</form>